@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #fee8c8;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

.font-oswald {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.glow-naranja-hover:hover {
  box-shadow: 0 0 30px rgba(238, 108, 41, 0.8), inset 0 0 15px rgba(238, 108, 41, 0.4) !important;
}


/* Paleta de colores personalizada Walka TV */
:root {
  --color-naranja: #005162;
  --color-jet: #fee8c8;
  /* --color-moonstone: #7AA6B3; */
  --color-moonstone: #5f8988;
}

.bg-naranja {
  background: var(--color-naranja) !important;
}
.bg-jet {
  background: var(--color-jet) !important;
}
.bg-moonstone {
  background: var(--color-moonstone) !important;
}
.text-naranja {
  color: var(--color-naranja) !important;
}
.text-jet {
  color: var(--color-jet) !important;
}
.text-moonstone {
  color: var(--color-moonstone) !important;
}
.border-naranja {
  border-color: var(--color-naranja) !important;
}
.border-jet {
  border-color: var(--color-jet) !important;
}
.border-moonstone {
  border-color: var(--color-moonstone) !important;
}
